/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #8E3CCB
$textColor = #333
$borderColor = #eaecef
$codeBgColor = #282c34


// layout
$navbarHeight = 4.4rem
$sidebarWidth = 20rem
$contentWidth = 800px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px